html {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

body {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    
}
h1, h2, h3, h4, h5, h6 {
    font-family: Bison,sans-serif;
    line-height: 1.2!important;
    letter-spacing: .03em;
    text-transform: uppercase;
}

h2, h3 {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding: 0;
    font-weight: 700;
    text-rendering: optimizeLegibility;
    height: 2em;
}

.topbar {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: black;
    color: white;
    height: 50px;
    position: sticky;
    top:0;
}

.topbar a {
    color:white;
}

.mainHeader {
    margin-top: 0em;
    background-image: url("https://www.barcelonacodeschool.com/files/pics/cur_files/squares.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding:2em 0;
}

.mainHeader h1 {
    text-decoration: none;
    color: black;
    margin: 0 10%;
    padding:2.5em 0;
    /*padding: 1% 10%; */
}

header ul {
    display: flex;
    list-style: none;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    padding:2em 0;
    justify-content: space-between;
    align-items: center;
    
}

header ul li {
    width: 100%; 
}

header a {
    text-decoration: none;
    color: black;
}

nav {
    display: flex;
    list-style: none;
    width: 100%;
    padding:2em 10%;
}

.hamburger {
    position: relative;
    display: none;
    font-weight: bold;
  }

  .hamburger-content {
    display: none;
    position: absolute;
    left:0;
    background-color:black;
    width: 100vw;
    padding: 10px;
  }

  .hamburger:hover .hamburger-content {
    display: block;
    z-index: 5;
  /* animation: popup .5s ease-in-out both; */
  }

  .hamburger span {
    transition: transform .5s;
  -webkit-transition: -webkit-transform .5s;
    display: block;
    transform: rotate(90deg);
  }
  
  .hamburger:hover span {
    transition: transform .5s;
  -webkit-transition: -webkit-transform .5s;
    display: inline-block;
    transform: rotate(180deg);
  }



/* FIRST SECTION AFTER HEADER */
.grid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    /*margin: 0 10%; */
}

button {
    background: #fff!important;
    color: #000!important;
    background-image: none!important;
    border: 1px solid #000!important;
    border-radius: 0!important;
    padding: .5em;

}

button:hover {
    box-shadow: -3px 3px #000!important;
    transform: translate(3px,-3px);
    outline: none;
}

button:active {
    transform: translate(-3px,3px);
    outline: none;
}

.highlight {
    background-color: yellow;
}

.black, .white {
padding:2em 10%;
margin-bottom: 2em;
}

.black {
background-color: black;
color: white;
}

.black a {
color: white;
}

.white a{
color: black;
}

p.social a {
    margin-right: 2 em;
    word-break: break-word;
    display:inline;
    font-size: .8em;
    padding-right: .5em;
}

.grid4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
    background-color:black;
    color:white;
}

.grid4 h2:first-child {
    grid-column: 1/-1;
    text-align: left;
}

.gridTable {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    border: 1px solid grey;
    margin-bottom: 1em;
    text-align:left;
    padding: 1em;
    box-shadow: -3px 3px #000;
}

.infoTables {
    /*margin: 0 10%; */ 
    padding: 2em 10%; 
}
.gridTable h3:first-child {
    grid-column: 1/-1;
    text-align: left;
}

.gridTable h3 {
    border-bottom: 1px solid grey;
}

.container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    box-shadow: -3px 3px #000;
    background: black;
    z-index:1;
}

div {
    display: block;
}

img {
    max-width: 100%;
    padding: 0;
    margin: 0 0 1em;
    border-style:none;
    filter: grayscale(100%)
}
img.hiringpartners {
    vertical-align: middle;
    margin-right: 2%;
    width: 10%;
}

.grid3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    /*margin: 0 5%; */
    padding-bottom: 1em;
}

.grid3 div:nth-child(4) {
    grid-column: 1/-1;
    text-align: left;
}

/* block displayed element will show up as */
.grid3 a {
    display:block;
    line-height: 2em;
}

.copyrights {
    margin-top: 4em;
}

/*Media adjustments */
@media all and (max-width: 800px){
    .grid2 {
        grid-template-columns: 1fr;
    }

    .grid4 {
        grid-template-columns: 1fr;
    }
    .gridTable{
        grid-template-columns: 1fr; 
    }

    header ul {
        display: none;
    }

    .hamburger {
        position: relative;
        display: inline-block;
        z-index:5;
      }

      .HamDD{
          display:block;
          padding: 10px;
          background: black;
      }

      
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}